<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDGTEWrX8WWRU4If10ddWbE4iaKqgAnzo</string>
	<key>GCM_SENDER_ID</key>
	<string>448243860576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appointmentappLilianavecino</string>
	<key>PROJECT_ID</key>
	<string>appointmentappfront</string>
	<key>STORAGE_BUCKET</key>
	<string>appointmentappfront.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448243860576:ios:c6587a2295785f53b9ef05</string>
</dict>
</plist>